
body {
  background-color: white;
}


#head {
  margin: auto;
  width: auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px auto;
  padding: 5px;
  background-color: #FFF;
  box-shadow: 0 5px 20px red;
  border-radius: 20px;
  border-color: red;
}




h1 {

  color: red;
  text-align: center;
  


}


  .data-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px auto;
    padding: 5px;
    background-color: #FFF;
    box-shadow: 0 2px 20px red;
    border-radius: 20px;
  }

  .data-item{
    width: 50%;
    text-align: center;
  }

  .data-item h2{
    width: auto;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .data-item p{
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  width: auto;
  height: 75%;
  margin: auto;
  box-shadow: 0 5px 20px red;
  
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* this for the web site  */

@media (pointer: fine){
  #top {

    height: 150px;
  }
  
  #head {
    margin: auto;
    width: 25%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;
    padding: 5px;
    background-color: white;
    box-shadow: 0 5px 20px blue;
    border-radius: 20px;
  }
  
  
  
  
  h1 {
  
    color: blue;
    text-align: center;
    
  
  
  }

  .data-container{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: 50px auto;
    padding: 5px;
    background-color: #FFF;
    box-shadow: 0 2px 20px blue;
    border-radius: 20px;
  }

  .data-item{
    width: 50%;
    text-align: center;
  }
    
  .data-item h2{
    width: auto;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .data-item p{
    width: auto;
    font-size: 20px;
    font-weight: bold;
    color:blue;
  }

  #map {
    width: 25%;
    height: 25%;
    margin: auto;
    box-shadow: 0 5px 20px blue;
    
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
}